resultado.innerHTML = `

                    <% if (data) { %>
                        <% for (let i=0; i<data.length; i++) { %>
                            <tr>
                                <td><%=(i+1)%></td>
                                <td><%=data[i].cp%></td>
                                <td><%=data[i].equipo%></td>
                                <td><%=data[i].marca%></td>
                                <td><%=data[i].modelo%></td>
                                <td><%=data[i].serie%></td>
                                <td><%=data[i].ubicacion%></td>
                                <td><a href="/update/<%= data[i].id %>" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                                </td>
                                <td><a href="/delete/<%= data[i].id %>" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                            </tr>

                        <% } %>
                    <% } %>

        `


        if (formulario.value == "") {

            swal("Ingrese un valor!", "Ejm: ecografo", "warning");
            return false;
        }